body{
    background-image: url("../images/this-is-us.jpg");
    /* height:100%; */
    
}
#game-name{
    background-color:white;
    text-align:center;
}

.questions{
    background-color:white;
    text-align:center;
    width:75%;
    height:25%;

}
.quest{
    background-color:pink;
}

.form-check{
    background-color:white;
}