body{
    background-image: url("../images/this-is-us.jpg");
    /* height:100%; */

}

.game{ 
    background-color: white;
    text-align:center; 
    width:25%; 
    height:85%; 
} 

.questions{
    background-color:white;
    text-align:center;
    width:65%;
    height:35%;
}

.quest{
    background-color:none;
}

.form-check{
    background-color:white;
}